$mdc-theme-primary: #000000;
$mdc-theme-secondary: #d6d6d6;
$mdc-theme-on-primary: #ffffff;
$mdc-theme-on-secondary: #442b2d;
$mdc-theme-background: #1420cf;
$mdc-theme-surface: #14cf3d;
$mdc-theme-on-surface: #ffffff;
$mdc-theme-primary-bg: #1420cf;
$mdc-theme-secondary-bg: #1420cf;
